.grid12{margin:0 auto; max-width:1200px;}
.grid15{margin:0 auto; max-width:1500px;}

.top-title{ margin-top: 200px; 
  @media (max-width: 960px){margin-top: 142px;}
}

.bottom-title{margin-bottom:100px;
  @media (max-width:960px){margin-bottom:70px;}
}

.bottom-button{margin-bottom:70px;
  @media (max-width:960px){margin-bottom:20px;}
}

.top-line{margin-bottom:36px;
  @media (max-width:960px){margin-bottom:30px;}
}

.m100{margin-bottom:100px;}
.m85{margin-bottom:85px;
  @media(max-width:960px){margin-bottom:70px;}
}

.m40{margin-bottom:40px}
.m30{margin-bottom:30px;
  @media(max-width:960px){margin-bottom:15px;}
}

.m150{margin-top:150px;
@media(max-width:960px){margin-top:50px;}}


.mt100{margin-top:clamp(40px, 6.6667vw, 100px);
  @media(max-width:960px){margin-top:40px}
}
.mt80{margin-top:clamp(34px, 4.8000vw,72px);
  @media(max-width:960px){margin-top:34px;}
}