@use 'base/reset';
@use 'base/default';
@use 'base/fontStyle';
@use 'base/margin';

@use 'components/button';
@use 'components/header';
@use 'components/footer';

@use 'pages/home';
@use 'pages/company/intro';
@use 'pages/community/community';
@use 'pages/artist/artist';
@use 'pages/audition/audition';


html,body{
    font-family: 'Pretendard', sans-serif;
}