@import 'news';
@import 'notice';
@import 'notice-detail';


/* =============
search
============== */

.community-search{
    box-sizing:border-box;
    max-width:450px;
    min-width:273px;
    width:23.44vw;
    max-height:40px;
    min-height:35px;
    height:2.08vw;
    
    .v-field{
        background-color:#e8e8e8;
        box-shadow:none;
        max-width:450px;
        min-width:273px;
        width:23.44vw;
        max-height:40px;
        min-height:27.83px;
        height:2.08vw;
        padding:0 1.3vw;

        .v-field__input{
            font-size:14px;
            max-height:40px;
            min-height:27.83px;
            height:2.08vw;
        }
    }

    .v-autocomplete__selection{
        position:absolute;
        width:90%;
    }

    
    .v-input__control input::placeholder{
        font-size:clamp(12px,0.73vw,14px);
    }

}

.mobile-search{
    background-color:transparent;
    box-shadow:none;

    &:focus,
    &:active,
    &:hover{
        text-shadow:none;
        box-shadow:none;
        color:#83A667;
    }
}



/* =============
pagination
============== */

.page-num{

    display:flex;
    justify-content:center;
    
    .v-pagination__item{
        display:flex;
        justify-content:center;
        align-items:center;
        max-width:30px;
        min-width:25px;
        width:1.5625vw;
        max-height:30px;
        min-height:25px;
        height:1.5625vw;
        border-radius:50%;
        overflow:hidden;
    }

    .v-pagination__item--is-active{
        background-color: #83A667;
        color:white;
    }

    .v-pagination__prev,
    .v-pagination__next{
        display:flex;
        justify-content:center;
        align-items:center;
        max-width:30px;
        min-width:25px;
        width:1.5625vw;
        max-height:30px;
        min-height:25px;
        height:1.5625vw;
        border-radius:50%;
        overflow:hidden;
    }

    .v-btn{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover{color:#83A667}
    }

    .v-pagination__item--is-active:hover .v-btn{
        color:white !important;
    }

    .v-btn__content{
        width:100%;
        height:100%;
        font-size:clamp(12px, 0.83vw, 16px);
        display:flex;
        justify-content:center;
        align-items:center;
    }
}